
.option-rearrange {
  font-size: .6em;
  font-weight: bold;
  text-transform: uppercase;
  /*line-height: 2em;*/
  color: #666;
  text-decoration: none;
  letter-spacing: 1px;
}

.audioplayer2 {
  width: 90px;
}

