
### MORPHEME ###
morpheme:field_morpheme                   :item/lkt/text
morpheme:field_audio                      :item/lkt/audio
morpheme:field_word                       :example/lkt/text
morpheme:field_morpheme_example_audio     :example/lkt/audio
morpheme:field_translation                :example/eng/text
morpheme:field_translation_audio          :example/eng/audio
morpheme:field_morpheme_desc_lang_studied :description/lkt/text
morpheme:field_audio_lang_studied         :description/lkt/audio
morpheme:field_morpheme_description       :description/eng/text
morpheme:field_audio_lang_instruct        :description/eng/audio

### WORD ###
word:field_word                           :item/lkt/text
word:field_audio                          :item/lkt/audio
word:field_translation                    :item/eng/text
word:field_translation_audio              :item/eng/audio

### CONJUGATION ###
conjugation:field_conjugation             :item/lkt/text
conjugation:field_audio                   :item/lkt/audio
conjugation:field_translation             :item/eng/text
conjugation:field_translation_audio       :item/eng/audio

### PERSON ###
person:field_first_name                   :item/lkt/text
person:field_last_name                    :item/lkt/text
person:field_first_name_audio             :item/lkt/audio
person:field_last_name_audio              :item/lkt/audio
person:field_first_name_translation       :item/eng/text
person:field_last_name_translation        :item/eng/text
person:field_first_name_translation_audio :item/eng/audio
person:field_last_name_translation_audio  :item/eng/audio
person:body                               :description/lkt/text
person:body_audio                         :description/lkt/audio
person:field_body_translation             :description/eng/text
person:field_body_translation_audio       :description/eng/audio

### PLACE ###
place:title                               :item/lkt/text
place:field_audio                         :item/lkt/audio
place:field_place_name_translation        :item/eng/text
place:field_translation_audio             :item/eng/audio

### PHRASE ###
phrase:field_phrase                       :item/lkt/text
phrase:field_audio                        :item/lkt/audio
phrase:field_translation                  :item/eng/text
phrase:field_translation_audio            :item/eng/audio

### SENTENCE ###
sentence:field_sentence                   :item/lkt/text
sentence:field_audio                      :item/lkt/audio
sentence:field_translation                :item/eng/text
sentence:field_translation_audio          :item/eng/audio

### CONVERSATION TURN ###
conversation_turn:field_sentence          :item/lkt/text
conversation_turn:field_audio             :item/lkt/audio
conversation_turn:field_translation       :item/eng/text
conversation_turn:field_translation_audio :item/eng/audio

### NARRATIVE ###
narrative:body                            :item/lkt/text
narrative:body_audio                      :item/lkt/audio
narrative:body_translation                :item/eng/text
narrative:body_translation_audio          :item/eng/audio
