
body {
  font-size: 1.1em !important;
}

.option-rearrange {
  font-family: 'AboriginalSans' !important;
  font-size: .6em;
  font-weight: bold;
  text-transform: uppercase;
  /*line-height: 2em;*/
  color: #666;
  text-decoration: none;
  letter-spacing: 1px;
}

#main-menu-links {
  font-size: .8em !important;
}
#main-menu-links li a {
  font-family: 'AboriginalSans' !important;
}

.tabs ul.primary li a {
  font-family: 'AboriginalSans' !important;
  font-size: .8em !important;
}

.audioplayer2 {
  width: 90px;
}


